<!DOCTYPE html>
<html>

  <head>
    <title>Backbone Resume App</title>
    <link href="style.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="lib/json2.js"></script>
    <script src="lib/jquery-1.6.4.js"></script>
    <script src="lib/underscore-1.2.2.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/backbone-localstorage.js"></script>
    <script src="resume.js"></script>
  </head>

  <body>

    <!-- Resume App Interface -->

    <div id="resumeapp">

      <div class="title">
        <h1>My Resume</h1>
      </div>

      <div class="content">

        <div id="create-entry">
          <input id="title" placeholder="Title" type="text" />
          <textarea id="description" placeholder="Description"></textarea>
	  <button id="add-entry" class="entry_input">Add Entry</button>
        </div>

        <div id="entries">
          <ul id="entry-list"></ul>
        </div>

        <div id="entry-stats"></div>

      </div>

    </div>

    <ul id="instructions">
      <li>Double-click to edit an entry.</li>
    </ul>

    <div id="credits">
      Created by
      <br />
      <a href="http://www.arbiesamong.com/">Arbie Samong</a>
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="entry <%= done ? 'done' : '' %>">
        <div class="display">
          <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <div class="entry-title"></div>
          <div class="entry-description"></div>
          <span class="entry-destroy"></span>
        </div>
        <div class="edit">
          <input class="entry-input" type="text" value="" />
        </div>
      </div>
    </script>

    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="entry-count">
          <span class="number"><%= remaining %></span>
          <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
      <% } %>
      <% if (done) { %>
        <span class="entry-clear">
          <a href="#">
            Clear <span class="number-done"><%= done %></span>
            completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
          </a>
        </span>
      <% } %>
    </script>

  </body>

</html>
